@import url(http://fonts.googleapis.com/css?family=Inconsolata&subset=latin);

/* @group Resets */

html, body, div, span, a, img,
h1, h2, h3, h4, h5, h6, hgroup, p,
dl, dialog, dt, dd, ol, ul, li, 
abbr, acronym, address, b, big, blockquote, 
cite, code, del, dfn, em, i, ins, kbd, pre, q, 
samp, tt, var, small, strong, sub, sup, 
object, iframe, form, fieldset, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section,
figure, menu, time, mark, audio, video						{ font-family: inherit; font-size: 100%; font-weight: inherit; font-style: inherit; vertical-align: baseline; white-space: normal; text-align: left; margin: 0; padding: 0; border: 0; outline: 0; background: transparent; }
textarea													{ font-family: inherit; font-size: 100%; font-weight: normal; font-style: normal; white-space: normal; text-align: left; margin: 0; padding: 0; }
article, aside, footer, header, nav, section,
dialog, figure, hgroup, menu								{ display: block; }

h1, h2, h3, h4, h5, h6										{ font-size: 100%; font-weight: normal;
	letter-spacing: 0;
	color: #2b2b2b;
}

del, ins													{ text-decoration: none; }
ol, ul														{ list-style: none; }
nav ul														{ list-style-type: none; }
table														{ border-collapse: separate; border-spacing: 0; background-color: transparent; width: auto; height: auto; }
:focus														{ outline: 0; }
blockquote:before, blockquote:after, q:before, q:after		{ content: ""; }
blockquote, q												{ quotes: "" ""; }
input														{ margin: 0; }

/* @end */


body {
	margin: 20px;
	text-transform: none;
	color: #363737;
	font: 0.8em/1.5em Arial, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial;
	background-image: url(http://www.loudentax.com/_img/bg_lite.png);
	/*letter-spacing: 0.1em;*/
	-webkit-font-smoothing:antialiased;
}

#main{
	background-color: rgba(255,255,255, .8);
	padding: 10px;
}

#footer{
	letter-spacing: 0.2em;
	font: 0.7em "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}
#footer p{
	margin: 0 0 1em;
}
div#doc{
	
	margin-left: 10%;
	margin-right: 10%;
}

div#doc h2 {
	font-size: 1em;
	font-weight: bold;
}

div#doc h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}
div#doc h3 {
	font-style: normal;
}
div#doc h3 {
}

#footer{
	border-top: 1px solid #cacaca;
}

.description{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	letter-spacing: 0.1em;
}
div.seealso {
	position: absolute;
	overflow: visible;
	float: none;
	bottom: 1%;
	right: -151px;
	visibility: visible;
	height: 100px;
	width: 100px;
	display: block;
	border: 1px solid #dadada;
	padding: 10px;
}

p{
	margin-bottom: 2em;
}
a {
	color: #ac0075;
	text-decoration: none;
	border-bottom: 1px dotted rgba(153,0,98,0.25);
}
a:hover{
	border-bottom: 1px dotted #990062;
}

a.jcom {
	border-left: 1px solid #aeaeae;
	border-radius:5px;
	border-right: 1px solid #aeaeae;
	display: inline-block;
	padding-bottom: 0.1em;
	padding-left: 0.35em;
	padding-right: 0.35em;
	/*border: 1px solid #9f9f9f;*/
	border-bottom: 1px solid #d9d9d9;
	border-top: 2px solid #ddd;
}

a.jcom:hover{
	background-color: #f7f7f7;
}

li{
	background: url(./images/bullet.png) no-repeat left center;
	padding-left: 10px;
}
code{
	font-family: Inconsolata;
	background-color: #fdfeda;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

pre code{

}
span.seq, figurePointer{
	background-color: #97c8ff;
	border-radius: 01em;
	padding-right: 0.35em;
	padding-left: 0.35em;
	border: 1px solid #b1b1b1;
}
/* @group imageStuff */

a.image{
	max-width: 70%;
	box-shadow:0px 5px 20px #3B3B3B;
		-webkit-box-shadow: 0px 5px 20px #A4A4A4;
		-moz-box-shadow: 0px 5px 20px #bbbdbd;
	border: 1px double #c1c1c1;
	padding: px;
	display: inline-block;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

a.image img{
	border: 1px double #c1c1c1;
}



div.imageZoom{
	padding: 5px;
	margin-top: 40px;
	margin-bottom: 40px;
	/*border: 1px solid #aaaba7;
	background-color: #fefffe;*/
	text-align: center;
}

a.image:hover {
	-webkit-box-shadow: 0px 0px 30px #8CB7FF;
	-moz-box-shadow: 0px 0px 30px #8CB7FF;
	-o-box-shadow: 0px 0px 30px #8CB7FF;
	box-shadow: 0px 0px 30px #8CB7FF;

	transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;

}

/* @end */

.tagBlock{
	padding: 10px 12px; 
	background-color: rgba(0,0,0, .1);
	border: 1px solid #bbb;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	display: block;
	margin: 25px auto 15px auto;
	
}

.tagNavigation li{
	background-image: none;
}
.tagBox {
	display: inline;
}
.tagBox a{
	border-radius: 10px;
	border: 1px solid #babcbc;
	text-decoration: none;
	font-weight: lighter;
	font-style: normal;
	font-variant: small-caps;
	color: #434141;
	letter-spacing: 0.2em;
	display: inline;
	background: #d7d7d7 url(./../172-pricetag.png) no-repeat left center;
	padding-right: 0.7em;
	padding-left: 2em;
}
.tagBox a:hover{
	background-color: #555352;
	color: #d9dddd;
}
.tagBox a.selected, .tagBox a.selected:hover {
	color: #434141;
	background-color: #d4dafe;
}
/*.tagBox a:after{
	content:url(images/zoom.png);
	padding-left: 5px;
}*/

.tagRef{
	margin-left: 5px;
	list-style-position: inside;
}
table{
	width: 100%;
	text-align: left;
		border: 1px solid #e6e6e6;

}

tbody{
	border: 1px solid #e6e6e6;
}

tr{
	
}

th{
	background-color: #e6e6e6;
}

td{
	border: 1px solid #e6e6e6;
}

table								{ border-collapse: collapse; border-top: solid 3px #000; position: relative; margin-top: 18px; }

th, td								{ line-height: 18px; padding: 9px 18px 8px 0;
}
thead th, thead td					{ padding-top: 7px; }
tfoot th, tfoot td					{ padding-bottom: 8px;
}
tbody th, tbody td,
tfoot th, tfoot td					{ border-top: solid 1px #000;
}
 
th:first-child, td:first-child		{ padding-left: 0;
}
th:last-child, td:last-child		{ padding-right: 0;
}

tr:nth-child(even) td				{
}
tbody tr:nth-child(odd) td			{ background: rgba(0, 0, 0, 0.035);
}

caption								{ top: 5px; margin-bottom: 18px; }


/* @group special cases */

h2.LessonTitle + p {
	font-style: italic;
	font-family: Georgia;
}



/* @end */